Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-Caching==2.3.0
PyJWT==2.10.1
pycryptodome==3.21.0
PyMySQL==1.1.1
APScheduler==3.11.0
cryptography==44.0.2
redis==5.2.1
gunicorn==23.0.0
